
.orb-home-4 {
    background-color: #F1EBE5;
    padding-top: 120px;
}

.orb-home-4 .orb-photo-frame:after {
    background-color: #DDDDD7;
}

.orb-home-4 .orb-top-bar-frame {
    background-color: #F1EBE5;
}

.orb-home-4 .orb-top-bar-frame .orb-top-bar:before {
    left: 80px;
    width: 37%;
    opacity: 0.15;
}

.orb-home-4 .orb-content .orb-position-fix {
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 120px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.orb-home-4 .orb-content .orb-position-fix .orb-obj-1 {
    width: 100%;
    z-index: 1;
    padding-bottom: 120%;
}

.orb-home-4 .orb-content .orb-position-fix:before {
    content: '';
    width: 180px;
    height: 188px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: -100px;
    background-color: #C57642;
}

.orb-home-4 .orb-content .orb-object-frame {
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 120px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.orb-home-4 .orb-content .orb-object-frame .orb-obj-2 {
    width: 100%;
    z-index: 1;
    padding-bottom: 120%;
}

.orb-home-4 .orb-content .orb-object-frame .orb-obj-3 {
    width: 50%;
    padding-bottom: 60%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -100px;
}

.orb-home-4 .orb-content .orb-object-frame:before {
    content: '';
    width: 220px;
    height: 280px;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: -50px;
    background-color: #979795;
}

.orb-home-4 .orb-content .orb-main-title {
    padding: 80px 0;
    height: calc(var(--vh, 1vh) * 100 - 120px);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.orb-home-4 .orb-content .orb-main-title .orb-suptitle {
    font-size: 18px;
}

.orb-home-4 .orb-content .orb-main-title .orb-suptitle .orb-number {
    display: block;
    font-size: 42px;
    font-style: italic;
    color: #C57642;
    margin-bottom: 10px;
}

.orb-home-4 .orb-content .orb-main-title h1 {
    font-size: 64px;
    text-transform: uppercase;
}

.orb-home-4 .orb-content .orb-main-title .orb-button-frame {
    text-align: center;
}

.orb-home-4 .orb-content .orb-main-title .orb-button-frame .orb-sm-button {
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: solid 1px #442A24;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.orb-home-4 .orb-content .orb-main-title .orb-button-frame .orb-btn-label {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .orb-home-4 .orb-content .orb-main-title h1 {
        font-size: 52px;
    }
}

@media (max-width: 992px) {
    .orb-home-4 .orb-content .orb-main-title h1 {
        font-size: 42px;
    }
}

@media (max-width: 810px) {
    .orb-home-4 .orb-content .orb-main-title h1 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .orb-home-4 {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .orb-home-4 .orb-content .orb-position-fix {
        height: auto;
    }

    .orb-home-4 .orb-content .orb-position-fix .orb-obj-1 {
        width: 100%;
        padding-bottom: 43%;
        width: 60%;
    }

    .orb-home-4 .orb-content .orb-position-fix .orb-obj-1 img {
        -o-object-position: center;
        object-position: center;
    }

    .orb-home-4 .orb-content .orb-position-fix:before {
        content: '';
        width: 50%;
        top: 20px;
        right: 0;
        height: 60px;
    }

    .orb-home-4 .orb-content .orb-object-frame {
        height: auto;
        padding-bottom: 40px;
    }

    .orb-home-4 .orb-content .orb-object-frame .orb-obj-2 {
        width: 60%;
        margin-left: 40%;
        z-index: 1;
        padding-bottom: 55%;
    }

    .orb-home-4 .orb-content .orb-object-frame .orb-obj-2 img {
        -o-object-position: center;
        object-position: center;
    }

    .orb-home-4 .orb-content .orb-object-frame .orb-obj-3 {
        width: 50%;
        padding-bottom: 35%;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
    }

    .orb-home-4 .orb-content .orb-object-frame:before {
        width: 25%;
        height: 80%;
        bottom: 0;
        left: 32%;
    }

    .orb-home-4 .orb-content .orb-main-title {
        height: auto;
        padding: 40px 0;
    }

    .orb-home-4 .orb-content .orb-main-title .orb-suptitle {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .orb-home-4 .orb-content .orb-main-title .orb-suptitle .orb-number {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .orb-home-4 .orb-content .orb-main-title h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .orb-home-4 .orb-content .orb-main-title .orb-button-frame .orb-sm-button {
        width: 60px;
        height: 60px;
    }

    .orb-home-4 .orb-content .orb-main-title .orb-button-frame .orb-btn-label {
        font-size: 14px;
    }
}

/* Home 5
==================================== */

.orb-home-5 {
    background-color: #979795;
}

.orb-home-5 .orb-photo-frame:after {
    background-color: #818C89;
}

.orb-home-5 .orb-top-bar-frame {
    background-color: transparent;
}

.orb-home-5 .orb-top-bar-frame .orb-top-bar:before {
    left: 80px;
    width: 37%;
    opacity: 0.15;
    background-color: #FFF;
}

.orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-logo-frame img path, .orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-logo-frame svg path {
    fill: #FFF;
}

.orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu li a {
    color: #FFF;
}

.orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu-btn span:after, .orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu-btn span:before {
    background-color: #FFF;
}

.orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu-btn.orb-active span, .orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu-btn.orb-active span:after, .orb-home-5 .orb-top-bar-frame .orb-top-bar .orb-menu-btn.orb-active span:before {
    background-color: #FFF;
}

.orb-home-5 .orb-content .rb-object-frame .orb-obj-1 {
    width: 100%;
    padding-bottom: 0;
    height: calc(var(--vh, 1vh) * 100);
}

.orb-home-5 .orb-content .orb-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 200px 80px 80px;
    z-index: 1;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.orb-home-5 .orb-content .orb-caption .orb-main-title {
    width: 45%;
    margin-bottom: 15vh;
}

.orb-home-5 .orb-content .orb-caption .orb-main-title .orb-suptitle {
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
    color: #FFF;
}

.orb-home-5 .orb-content .orb-caption .orb-main-title .h1, .orb-home-5 .orb-content .orb-caption .orb-main-title h1 {
    font-size: 48px;
    color: #FFF;
    text-transform: uppercase;
}

.orb-home-5 .orb-content .orb-caption .orb-button-frame {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15vh;
    position: relative;
}

.orb-home-5 .orb-content .orb-caption .orb-button-frame:after {
    content: '';
    width: 40px;
    height: 100%;
    background-color: #C57642;
    position: absolute;
    top: 0;
    right: -80px;
}

.orb-home-5 .orb-content .orb-caption .orb-button-frame .orb-line {
    height: 1px;
    background-color: #FFF;
    width: calc(100% - 220px);
}

.orb-home-5 .orb-content .orb-caption .orb-description {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.orb-home-5 .orb-content .orb-caption .orb-description p {
    padding-left: 80px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.orb-home-5 .orb-content .orb-caption .orb-description .orb-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #FFF;
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    text-decoration: none;
}

.orb-home-5 .orb-content .orb-caption .orb-description .orb-link img {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .orb-home-5 {
        padding-bottom: 0;
    }

    .orb-home-5 .orb-top-bar:before {
        left: auto !important;
        right: 0 !important;
        width: 60% !important;
    }

    .orb-home-5 .orb-content .rb-object-frame .orb-obj-1 {
        width: 100%;
        padding-bottom: 0;
        height: calc(var(--vh, 1vh) * 100);
    }

    .orb-home-5 .orb-content .orb-caption {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 100px 20px 20px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-main-title {
        width: 100%;
        margin-bottom: 40px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-main-title .h1, .orb-home-5 .orb-content .orb-caption .orb-main-title h1 {
        font-size: 36px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-button-frame {
        width: 100%;
        margin-bottom: 40px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-button-frame:after {
        display: none;
    }

    .orb-home-5 .orb-content .orb-caption .orb-button-frame .orb-line {
        height: 1px;
        background-color: #FFF;
        width: calc(100% - 165px);
    }

    .orb-home-5 .orb-content .orb-caption .orb-description {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .orb-home-5 .orb-content .orb-caption .orb-description p {
        padding-left: 50%;
        width: 100%;
        color: #FFF;
        margin-bottom: 80px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-description .orb-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: #FFF;
        font-size: 14px;
        font-family: "Libre Baskerville", serif;
        font-style: italic;
        text-decoration: none;
    }

    .orb-home-5 .orb-content .orb-caption .orb-description .orb-link img {
        margin-right: 15px;
    }

    .orb-home-5 .orb-content .orb-caption .orb-description .orb-link:after {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #C57642;
        position: absolute;
        bottom: 20px;
        right: 0;
    }
}


.orb-portfolio-3 {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-top: 120px;
    background-color: #EAF0EE;
}

.orb-portfolio-3 .orb-photo-frame:after {
    background-color: #DDDDD7;
}

.orb-portfolio-3 .orb-top-bar-frame {
    background-color: transparent;
}

.orb-portfolio-3 .orb-top-bar-frame {
    background-color: #EAF0EE;
}

.orb-portfolio-3 .orb-top-bar-frame .orb-top-bar:before {
    left: 80px;
    width: 37%;
    opacity: 0.15;
}

.orb-portfolio-3 .orb-content .orb-position-fix {
    height: calc(var(--vh, 1vh) * 100 - 120px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption {
    position: relative;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 60px;
}

.orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption span {
    display: block;
    padding-right: 100px;
}

.orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption:before {
    content: '';
    width: 160px;
    height: 210px;
    position: absolute;
    top: 0;
    right: -80px;
    background-color: transparent;
}

.orb-portfolio-3 .orb-content .orb-position-fix .orb-obj-1 {
    margin-right: 40px;
    padding-bottom: 120%;
}

.orb-portfolio-3 .orb-content .orb-obj-2 {
    height: calc(100% - 160px);
    padding-bottom: 0;
}

.orb-portfolio-3 .orb-content .orb-obj-3 {
    padding-bottom: 120%;
    margin-top: 80px;
    margin-left: 40px;
}

.orb-portfolio-3 .orb-description {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.orb-portfolio-3 .orb-description .orb-text {
    width: calc(100% - 170px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.orb-portfolio-3 .orb-description .orb-text a {
    line-height: 6px;
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: #442A24;
    text-decoration: none;
    width: 100px;
}

.orb-portfolio-3 .orb-description .orb-text span {
    width: calc(100% - 100px);
    height: 1px;
    background-color: #442A24;
    z-index: 1;
}

.orb-portfolio-3 .orb-description .orb-nav-frame {
    width: 170px;
    position: relative;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav {
    position: absolute;
    top: -30px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-next, .orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-prev {
    height: 60px;
    width: 60px;
    border: solid 1px #442A24;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-next:first-child, .orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-prev:first-child {
    margin-left: 0;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-next img, .orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-prev img {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-next.swiper-button-disabled, .orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-prev.swiper-button-disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav .orb-prev img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .orb-portfolio-3 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .orb-portfolio-3 .orb-top-bar:before {
        left: 0 !important;
        width: 60% !important;
    }

    .orb-portfolio-3 .orb-content .orb-position-fix {
        height: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption {
        width: 50%;
        margin-bottom: 0;
        padding: 40px 20px;
    }

    .orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption span {
        padding: 0;
    }

    .orb-portfolio-3 .orb-content .orb-position-fix .orb-slide-caption:before {
        top: 100%;
        right: -20px;
        width: 237px;
        height: 141px;
    }

    .orb-portfolio-3 .orb-content .orb-position-fix .orb-obj-1 {
        width: 50%;
        margin: 0;
        padding-bottom: 55%;
        margin-bottom: 20px;
    }

    .orb-portfolio-3 .orb-content .orb-obj-2 {
        height: auto;
        padding-bottom: 90%;
        margin-bottom: 20px;
    }

    .orb-portfolio-3 .orb-content .orb-obj-3 {
        float: right;
        padding-bottom: 55%;
        width: 50%;
        margin-top: 0;
        margin-left: 0;
    }

    .orb-portfolio-3 .orb-description {
        padding: 0;
        bottom: 0;
        width: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .orb-portfolio-3 .orb-description .orb-text {
        width: 100%;
    }

    .orb-portfolio-3 .orb-description .orb-text a {
        width: 100%;
        margin-bottom: 100px;
    }

    .orb-portfolio-3 .orb-description .orb-text span {
        display: none;
    }

    .orb-portfolio-3 .orb-description .orb-nav-frame {
        width: 100%;
        position: relative;
    }

    .orb-portfolio-3 .orb-description .orb-nav-frame .orb-nav {
        top: 0;
        position: relative;
    }
}

.orb-contact-1 {
    padding-top: 0;
    padding-left: 0;
    background-color: #FFF;
}

.orb-contact-1 .orb-photo-frame:after {
    background-color: #DDDDD7;
}

.orb-contact-1 .orb-top-bar-frame {
    background-color: #FFF;
}

.orb-contact-1 .orb-top-bar-frame .orb-photo-frame .orb-top-bar:before {
    right: 0;
    width: 40%;
    opacity: 0.15;
}

.orb-contact-1 .orb-content .rb-object-frame {
    position: relative;
    background-color: #F1EBE5;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 120px;
}

.orb-contact-1 .orb-content .rb-object-frame .orb-obj-1 {
    width: calc(100% + 40px);
    padding-bottom: 80%;
    height: auto;
}

.orb-contact-1 .orb-content .rb-object-frame .orb-obj-1 img {
    -o-object-position: center;
    object-position: center;
}

.orb-contact-1 .orb-content .rb-object-frame .orb-page-title {
    position: absolute;
    bottom: 80px;
    left: 80px;
    font-size: 48px;
}

.orb-contact-1 .orb-content .rb-object-frame .orb-deco {
    width: 70px;
    height: 160px;
    margin-left: auto;
    background-color: #C57642;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
}

.orb-contact-1 .orb-content .orb-form-frame {
    padding: 120px 80px 80px 120px;
    height: calc(var(--vh, 1vh) * 100);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-title {
    font-size: 36px;
    margin-bottom: 60px;
}

.orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom .orb-submit-btn {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    background-color: transparent;
    border: none;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom .orb-submit-btn .orb-arrow {
    margin-left: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom .orb-submit-btn:hover .orb-arrow {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

@media (max-width: 1200px) {
    .orb-contact-1 .orb-content .rb-object-frame .orb-page-title {
        font-size: 36px;
    }

    .orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-title br {
        display: none;
    }
}

@media (max-width: 992px) {
    .orb-contact-1 .orb-content .rb-object-frame .orb-page-title {
        font-size: 30px;
    }

    .orb-contact-1 .orb-content .rb-object-frame .orb-deco {
        top: 40%;
    }

    .orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-title {
        font-size: 28px;
    }

    .orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-bottom .orb-submit-btn {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .orb-contact-1 {
        padding: 80px 20px 20px;
    }

    .orb-contact-1 .orb-top-bar-frame {
        background-color: #F1EBE5;
    }

    .orb-contact-1 .orb-content .rb-object-frame {
        position: relative;
        background-color: #F1EBE5;
        height: auto;
        padding: 0;
    }

    .orb-contact-1 .orb-content .rb-object-frame .orb-obj-1 {
        width: 75%;
        margin-right: 25%;
        padding-bottom: 100%;
        height: auto;
    }

    .orb-contact-1 .orb-content .rb-object-frame .orb-page-title {
        background-color: #F1EBE5;
        font-size: 24px;
        bottom: 0;
        left: auto;
        right: 0;
        z-index: 2;
        padding: 20px;
    }

    .orb-contact-1 .orb-content .rb-object-frame .orb-deco {
        left: -20px;
        top: auto;
        bottom: 0;
        right: auto;
        width: 58px;
    }

    .orb-contact-1 .orb-content .orb-form-frame {
        padding: 40px 0 0;
        height: auto;
        margin-bottom: 60px;
    }

    .orb-contact-1 .orb-content .orb-form-frame .orb-form-content .orb-form-title {
        margin-bottom: 40px;
        font-size: 18px;
    }
}

.orb-about-3 {
    padding: 120px 80px 80px;
    background-color: #DDDDD7;
}

.orb-about-3 .orb-photo-frame:after {
    background-color: #818C89;
}

.orb-about-3 .orb-top-bar-frame {
    background-color: transparent;
}

.orb-about-3 .orb-top-bar-frame .orb-top-bar:before {
    right: 80px;
    width: 30%;
    opacity: 0.15;
}

.orb-about-3 .orb-content .rb-object-frame {
    position: relative;
}

.orb-about-3 .orb-content .rb-object-frame .orb-obj-1 {
    z-index: 1;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 200px);
}

.orb-about-3 .orb-content .rb-object-frame .orb-obj-1 img {
    -o-object-position: center;
    object-position: center;
}

.orb-about-3 .orb-content .rb-object-frame .orb-deco {
    position: absolute;
    z-index: 2;
    bottom: -80px;
    left: -80px;
    width: 160px;
    height: 160px;
    background-color: #C57642;
}

.orb-about-3 .orb-content .orb-left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100 - 200px);
    padding-right: 80px;
}

.orb-about-3 .orb-content .orb-left h2 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.orb-about-3 .orb-content .orb-left .orb-instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.orb-about-3 .orb-content .orb-left .orb-instagram img {
    width: 20px;
    margin-right: 10px;
}

.orb-about-3 .orb-content .orb-left .orb-instagram span {
    color: #442A24;
    font-style: italic;
    font-size: 18px;
}

.orb-about-3 .orb-content .orb-right {
    position: relative;
    padding-top: 80px;
}

.orb-about-3 .orb-content .orb-right h1 {
    position: relative;
    z-index: 2;
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 45px;
}

.orb-about-3 .orb-content .orb-right .orb-position-fix {
    width: 40%;
    margin-left: 60%;
}

.orb-about-3 .orb-content .orb-right .orb-position-fix .orb-deco {
    height: 1px;
    position: absolute;
    background-color: #442A24;
    width: calc(100% + 80px);
    left: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}

.orb-about-3 .orb-content .orb-right .orb-position-fix .orb-obj-2 {
    padding-bottom: 130%;
}

@media (max-width: 1200px) {
    .orb-about-3 .orb-content .orb-right {
        padding-left: 80px;
    }

    .orb-about-3 .orb-content .orb-right h1 {
        -webkit-transform: none;
        transform: none;
        font-size: 24px;
    }

    .orb-about-3 .orb-content .orb-right .orb-position-fix {
        width: 50%;
        margin-left: 50%;
    }
}

@media (max-width: 992px) {
    .orb-about-3 .orb-content .orb-left h2 {
        font-size: 14px;
        line-height: normal;
    }

    .orb-about-3 .orb-content .orb-right h1 {
        -webkit-transform: none;
        transform: none;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 40px;
    }

    .orb-about-3 .orb-content .orb-right .orb-position-fix {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .orb-about-3 {
        padding: 80px 20px 20px;
    }

    .orb-about-3 .orb-top-bar-frame {
        background-color: #DDDDD7;
    }

    .orb-about-3 .orb-content .orb-left {
        height: auto;
        display: block;
    }

    .orb-about-3 .orb-content .orb-left h2 {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .orb-about-3 .orb-content .orb-left .orb-instagram {
        position: relative;
    }

    .orb-about-3 .orb-content .rb-object-frame {
        margin-bottom: 40px;
    }

    .orb-about-3 .orb-content .rb-object-frame .orb-obj-1 {
        padding-bottom: 100%;
        height: auto;
    }

    .orb-about-3 .orb-content .rb-object-frame .orb-deco {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: -20px;
        width: 80px;
        height: 80px;
        background-color: #C57642;
    }

    .orb-about-3 .orb-content .orb-right {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .orb-about-3 .orb-content .orb-right h1 {
        padding-right: 20px;
        font-size: 16px;
        margin-bottom: 0;
    }

    .orb-about-3 .orb-content .orb-right .orb-position-fix .orb-deco {
        display: none;
    }

    .orb-about-3 .orb-content .orb-right .orb-position-fix .orb-obj-2 {
        padding-bottom: 112%;
    }
}

.orb-blog-4 {
    padding: 120px 80px 0 0;
    background-color: #F1EBE5;
}

.orb-blog-4 .orb-photo-frame:after {
    background-color: #DDDDD7;
}

.orb-blog-4 .orb-top-bar-frame {
    background-color: transparent;
}

.orb-blog-4 .orb-top-bar-frame .orb-top-bar:before {
    right: 0;
    background-color: #442A24;
    width: 37%;
    opacity: 0.15;
}

.orb-blog-4 .orb-content .rb-object-frame {
    position: relative;
}

.orb-blog-4 .orb-content .rb-object-frame .orb-obj-1 {
    z-index: 1;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 120px);
}

.orb-blog-4 .orb-content .rb-object-frame .orb-obj-1 img {
    -o-object-position: center;
    object-position: center;
}

.orb-blog-4 .orb-content .rb-object-frame h1 {
    text-transform: uppercase;
    top: 40%;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 4;
    font-size: 72px;
    text-align: center;
    color: #FFF;
}

.orb-blog-4 .orb-content .rb-object-frame .orb-deco {
    width: 140px;
    height: 120px;
    background-color: #979795;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: -40px;
}

.orb-blog-4 .orb-content .orb-blog-frame {
    position: relative;
    height: calc(var(--vh, 1vh) * 100 - 120px);
    padding-top: 80px;
    padding-left: 120px;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-text {
    padding-right: 80px;
    overflow-y: scroll;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 400px);
    margin-bottom: 80px;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-text h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-text p {
    font-size: 16px;
    line-height: 28px;
    color: #818C89;
    margin-bottom: 40px;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer {
    padding-right: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 120px;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-date {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #C57642;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-share {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 11px;
    color: #442A24;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-share img {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .orb-blog-4 .orb-content .rb-object-frame h1 {
        font-size: 52px;
    }
}

@media (max-width: 768px) {
    .orb-blog-4 {
        padding: 80px 20px 20px;
    }

    .orb-blog-4 .orb-photo-frame:after {
        background-color: #DDDDD7;
    }

    .orb-blog-4 .orb-top-bar-frame {
        background-color: #F1EBE5;
    }

    .orb-blog-4 .orb-content .rb-object-frame {
        margin-bottom: 40px;
    }

    .orb-blog-4 .orb-content .rb-object-frame .orb-obj-1 {
        height: auto;
        padding-bottom: 100%;
    }

    .orb-blog-4 .orb-content .rb-object-frame .orb-obj-1 img {
        -o-object-position: center;
        object-position: center;
    }

    .orb-blog-4 .orb-content .rb-object-frame h1 {
        font-size: 48px;
    }

    .orb-blog-4 .orb-content .rb-object-frame .orb-deco {
        width: 80px;
        height: 80px;
        right: 0;
        bottom: -20px;
    }

    .orb-blog-4 .orb-content .orb-blog-frame {
        height: auto;
        padding: 0;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-text {
        padding: 0;
        height: auto;
        overflow: visible;
        height: auto;
        margin: 0;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-text h2 {
        font-size: 24px;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer {
        padding: 0;
        height: auto;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-date {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C57642;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-share {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 11px;
        color: #442A24;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .orb-blog-4 .orb-content .orb-blog-frame .orb-post-footer .orb-share img {
        margin-left: 10px;
    }
}
